
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="description" content="Category: Education">
    <title>MC Server</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <h1>Ali's server information</h1>
    <h2>Description: "<%= info.motd %>"</h2>
    <h2>version: <%= info.version %></h2>
    <h2>online: <%= info.online_players %>/<%= info.max_players %></h2>
    <% if (info.players.length === 0) { %>
        <h3>There are no players in the server.</h3>
    <% } else { %>
        <h3>users in the server: <%= info.players.join(", "); %> </h3>
    <% } %> 
  </body>
</html>